*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:Arial, sans-serif;
background:#f4f6f9;
color:#222;

}



header{

background:#1e3a8a;
color:white;

padding:25px;

text-align:center;

}


header input{

margin-top:15px;

width:320px;

padding:12px;

border-radius:8px;

border:none;

font-size:16px;

}



.layout{

display:flex;

}



aside{

width:220px;

background:#111827;

min-height:100vh;

padding:20px;

color:white;

}



aside h2{

margin-bottom:20px;

}



aside button{

width:100%;

padding:12px;

margin:8px 0;

border:none;

border-radius:8px;

background:#2563eb;

color:white;

cursor:pointer;

}



aside button:hover{

background:#1d4ed8;

}



main{

flex:1;

padding:20px;

}



#gallery{

column-count:4;

column-gap:15px;

}



.card{

break-inside:avoid;

margin-bottom:15px;

cursor:pointer;

}



.card img{

width:100%;

border-radius:12px;

display:block;

transition:.3s;

}



.card img:hover{

transform:scale(1.04);

}



#loader,
#empty,
#error{

text-align:center;

padding:20px;

font-size:18px;

}



#empty,
#error{

display:none;

}



#retry{

padding:10px 20px;

margin-top:10px;

cursor:pointer;

}



#lightbox{

display:none;

position:fixed;

inset:0;

background:rgba(0,0,0,.9);

justify-content:center;

align-items:center;

flex-direction:column;

z-index:10;

color:white;

}



#lightbox img{

max-width:80%;

max-height:75%;

border-radius:10px;

}



#close{

position:absolute;

top:20px;

right:40px;

font-size:45px;

cursor:pointer;

}



#details{

margin-top:20px;

text-align:center;

}



@media(max-width:900px){

#gallery{

column-count:3;

}

}



@media(max-width:700px){


.layout{

flex-direction:column;

}


aside{

width:100%;

min-height:auto;

}



#gallery{

column-count:2;

}

}



@media(max-width:450px){

#gallery{

column-count:1;

}


header input{

width:90%;

}

}
